<div class="popup js-popup2">
  <div class="overlay"></div>
  <div class="popup__inner">
    <div class="icon-close js-close"></div>
    <img src="img/popup-phone.png" alt="">
    <p>Получить коммерческое предложение</p>
    <form action="">
      <div>
        <input type="tel" name="phone" placeholder="Ваш телефон">
        <input type="email" name="email" placeholder="E-mail">
      </div>
      <button class="btn btn--red">Получить</button>
    </form>
  </div>
</div>


<div class="popup js-popup">
  <div class="overlay"></div>
  <div class="popup__inner">
    <div class="icon-close js-close"></div>
    <img src="img/popup-phone.png" alt="">
    <p>Получить расчет стоимости <br> <strong>зерносушилки АТМ-10</strong></p>
    <form action="">
      <div>
        <input type="tel" name="phone" placeholder="Ваш телефон">
        <input type="email" name="email" placeholder="E-mail">
      </div>
      <button class="btn btn--red">Получить</button>
    </form>
  </div>
</div>

<div class="popup js-popup1">
  <div class="overlay"></div>
  <div class="popup__inner">
    <div class="icon-close js-close"></div>
    <img src="img/popup-phone.png" alt="">
    <p>Оставить заявку</p>
    <form action="">
      <div>
        <input type="tel" name="phone" placeholder="Ваш телефон">
      </div>
      <button class="btn btn--red">Оставить заявку</button>
    </form>
  </div>
</div>

<header class="site-header">
  <div class="site-header__granules"></div>

  <div class="container">
    <div class="header-top">
      <a href="" class="header-top__logo"><img src="img/logo.png" alt="agro"></a>

      <div class="header-top__contact">
        <a href="tel:84732516841" class="header-top__phone">8 (473) 251-68-41</a>
        <button class="btn btn-yellow js-form1">Перезвоните мне</button>
      </div> <!-- /.header-top__contact -->
    </div> <!-- /.header-top -->

    <div class="right-sec">
      <h1 class="slogan">Продажа мобильных <br> зерносушилок АТМ</h1>

      <p class="vendor">от производителя</p>

      <p class="benefit">с окупаемостью за <strong>1 сезон</strong> и <strong>шеф <br> монтажом</strong> в стандартной комплектации</p>
    </div> <!-- /.right-sec -->

    <div class="hero">
      <div class="hero__shadow"></div>
      <img src="img/machine.png" alt="" class="hero__machine">

      <div class="hero__in">
        <h1>Получите консультацию <br> специалиста и коммерческое предложение на зерносушилку АТМ</h1>

        <form>
          <input type="tel" name="phone" placeholder="Ваш телефон" required>
          <input type="email" name="email" placeholder="E-mail" required>
          <button type="button" class="btn btn-submit btn--red">Получить</button>
        </form>
      </div> <!-- /.hero__in -->
    </div> <!-- /.hero -->

  </div> <!-- /.container -->
</header>
