<section class="section diff">
  <div class="container">
    <h1 class="diff__heading">В чем отличие зерносушилок АТМ от аналогов ?</h1>

    <div class="diff-cols">
      <ul>
        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff1.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Система аспирации</h1>

              <p>В стандартную комплектацию уже включена предварительная очистка, в отличие от аналогов, где это является дополнительной опцией.</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff2.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Раздельная <br>система двигателей</h1>

              <p>Чтобы увеличить надежность сушилки и сэкономить электроэнергию, мы установили отдельные двигатели на каждый узел (вентилятор, шнек и.т.д)</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff3.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Камера сгорания <br> из стали, толщиной 5 мм</h1>

              <p>Для защиты от возгорания мы разработали систему предохранительных лепестков.</p>
            </figcaption>
          </figure>
        </li>
      </ul>

      <ul>
        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff4.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Используем горелки «Riello»</h1>

              <p>Надежные итальянские горелки «Riello». Около 10 сервисных центров в РФ. Низкий расход топлива, 1-1.3 литра на тонну</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff5.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Централизованная система смазки</h1>

              <p>Теперь оператору не нужно бегать вокруг сушилки с масленкой, очень удобно и практично.</p>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure>
            <div class="fig-wrap">
              <img src="img/diff6.jpg" alt="diff">
            </div>
            <figcaption>
              <h1>Три датчика <br> температур</h1>

              <p>Во всех зерносушилках устанавливается три датчика температуры. Вся информация выводиться на пульт управления.</p>
            </figcaption>
          </figure>
        </li>
      </ul>

    </div> <!-- /.diff-cols -->
  </div> <!-- /.container -->
</section>
